.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.header{
    background-color: rgba(0, 30, 50, 0.74);
    position: fixed;
    width: 100%;
    z-index: 5;
}
/* Logo */
.logo a {
	font-size: 40px;
	font-weight: 900;
	letter-spacing: 3px;
	text-shadow: -2px 7px 5px #000;
	text-decoration: none;
    line-height: 50px;
}
/* header-menu */
.header-menu ul{
    list-style: none;
    margin-bottom: 0;
    text-align: right;
}
.header-menu ul li {
	display: inline-block;
	padding: 0 22px;
	font-size: 16px;
	line-height: 55px;
	margin-left: -4px;
    transition: .4s;
}
.header-menu ul li:hover{
    background-color:rgba(221, 54, 165, 0.753);
    transition: .4s;
}
.header-menu ul li a {
	text-decoration: none;
	color: #ffff;
	font-weight: 600;
}

/* Dropdown-menu */
.header-menu ul li{
    position: relative;
}
.header-menu ul li ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 250px;
	background-color:#00324bdf;
	text-align: center;
	padding-left: 0;
    border-top: 1px solid #000;
    transition: .4s;
}
.header-menu ul li ul li {
	display: block;
	padding-left: 0;
	padding-right: 0;
    margin-left: 0;
    border-bottom: 1px solid #000;
}
.header-menu ul li ul li a{
    display: block;
}
/* Hover */
.header-menu ul li ul{
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top center;
}
.header-menu ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1)
}

/* sub-dropdown */
.header-menu ul li ul li{
    position: relative;
}
.header-menu ul li ul li ul{
    position: absolute;
    top: 0;
    left: 100%;
}

/* banner */
.banner{
   
    background-image: url(https://i.ibb.co/xHDmRg3/brooke-lark-M4-E7-X3z80-PQ-unsplash-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 300px 0;
}

/* about */
.about{
    background-color: #ddd;
    padding: 50px 0;
    text-align: center;
   
}
.about-img{
    transition: .4s;
}
.about-img:hover{
    transform: scale(1.2);
    transition: .4s;
}

/* service */
.service-item{
    text-align: center;
    margin: 80px 0;
    border: 1px solid #ddd;
    padding: 20px 30px;
    box-shadow: 1px 1px 10px 5px rgb(223, 217, 217);
    transition: all .3s ease-in-out;
    border: 4px solid transparent;
}
.service-item h3{
    font-size: 20px;
}
.service-item:hover{
    box-shadow: 2px 2px 10px 5px rgb(175, 155, 155);
    transition: all .3s ease-in-out;
    border-radius: 5px;
    border: 4px solid red;
    animation-name: goutom;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}

@keyframes goutom{
    0%{
        border-color: red;
    }
    20%{
        border-color: teal;
    }
    30%{
        border-color: rgb(54, 113, 189);
    }
    50%{
        border-color: rgb(158, 32, 141);
    }
    60%{
        border-color: yellowgreen;
    }
    70%{
        border-color: rgb(128, 0, 32);
    }
    80%{
        border-color: violet;
    }
    100%{
        border-color: red;
    }
}

.service-item span {
	font-size: 50px;
	width: 80px;
	height: 80px;
	display: inline-block;
	line-height: 80px;
	background-color: #8f8db0;
	color: #fff;
	border-radius: 3px;
    transition: all .5s ease;
}

.service-item span:hover{
    transform: rotate(360deg);
    border-radius: 20px 0 20px 0;
    background-color: #ff4757;
    transition: all .5s ease;
}
/* .contact */
.contact-form{
    padding: 30px;
    box-shadow: 2px 1px 25px 5px rgba(49, 49, 49, 0.27);
    border-radius: 5px;
    transition: .4s;
}
.contact-form:hover{
    box-shadow: 2px 2px 20px 5px rgba(98, 96, 96, 0.664);
    transition: .4s;
}
.icon{
    float: left;
    margin-right: 10px;
}
.address-item {
	padding: 30px 0;
}
.address-item span {
	display: inline-block;
	height: 50px;
	width: 50px;
	line-height: 50px;
	background-color:#686de0;
	border-radius: 50%;
	font-size: 26px;
	text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;
    
}
.address-item span::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #f0932b;
    border-radius: 50%;
    z-index: -1;
    transition: all .4s ease-in-out;
}
.address-item span:hover::after{
    height: 100%;
    transition: all .4s  ease-in-out;
}
.text h4 {
	font-size: 28px;
    
}
.text p {
	font-size: 17px;
	margin-bottom: 0;
    margin-top: 12px;
}
.text-1{
    margin-top:0;
    font-style: italic;
}

.contact h1 {
	font-size: 45px;
	text-align: center;
	padding: 50px 0;
	font-weight: 600;
    
}

/* footer */
.footer{
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}
.footer-menu {
	margin-top: 5px;
}
.footer-menu ul {
	margin-bottom: 0;
 
}
.footer-menu ul li {
	display: inline-block;
	margin-left: -4px;
	padding: 0px 13px;
}
.footer-menu ul li a{
    color: #fff;
}
.footer-menu ul li a i {
	display: inline-block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	background-color: rgb(0, 153, 255);
	text-align: center;
	border-radius: 50%;
	font-size: 18px;
}
.footer p{
  margin-bottom:0 ;
  margin-top: 5px;
}